[package]
name = "xtask"
version = "0.1.0"
edition.workspace = true
repository.workspace = true
publish = false

[dependencies]
anyhow.workspace = true
cargo_metadata.workspace = true
clap.workspace = true
indoc.workspace = true
toml.workspace = true
